.form-floating > .form-control {
	height: 3rem;
	padding: 0.33em 0.75em;
	border: 0;
	background: transparent;
	transition: all 0.2s linear;
}

.form-floating > .form-control:focus {
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
}

.form-floating > .form-control:not(:placeholder-shown) {
	padding-top: 0;
	padding-bottom: 0;
}

.form-floating > label {
	font-size: 1.25rem;
	line-height: 0.7;
	transition: transform 0.3s ease-in-out;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
	opacity: 1;
	transform: scale(0.8) translateY(-1.8rem) translateX(0.2rem);
}

.form-floating > .form-control:focus ~ label {
	color: #1266f1;
}

.form-floating > .form-control ~ .form-notch {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: none;
}

.form-floating > .form-control ~ .form-notch div {
	pointer-events: none;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	background: transparent;
	transition: all 0.2s linear;
}

.form-floating > .form-control ~ .form-notch .form-notch-leading {
	left: 0;
	top: 0;
	height: 100%;
	width: 0.5rem;
	border-right: none;
	border-radius: 0.25rem 0 0 0.25rem;
}

.form-floating > .form-control ~ .form-notch .form-notch-middle {
	flex: 0 0 auto;
	width: auto;
	max-width: calc(100% - 1rem);
	height: 100%;
	border-right: none;
	border-left: none;
}

.form-floating > .form-control:focus ~ .form-notch .form-notch-leading {
	border-right: none;
	border-color: #1266f1;
	box-shadow: -1px 0 0 0 #1266f1, 0 1px 0 0 #1266f1, 0 -1px 0 0 #1266f1;
}

.form-floating > .form-control:focus ~ .form-notch .form-notch-middle {
	border-right: none;
	border-left: none;
	border-top: 1px solid transparent;
	border-color: #1266f1;
	box-shadow: 0 1px 0 0 #1266f1;
	border-top: 1px solid transparent;
}

.form-floating
	> .form-control:not(:placeholder-shown)
	~ .form-notch
	.form-notch-middle {
	border-top: 1px solid transparent;
}

.form-floating > .form-control ~ .form-notch .form-notch-trailing {
	flex-grow: 1;
	height: 100%;
	border-left: none;
	border-radius: 0 0.25rem 0.25rem 0;
}

.form-floating > .form-control:focus ~ .form-notch .form-notch-trailing {
	border-left: none;
	border-color: #1266f1;
	box-shadow: 1px 0 0 0 #1266f1, 0 -1px 0 0 #1266f1, 0 1px 0 0 #1266f1;
}
