#side-bar .accordion-button:focus,
#side-bar .accordion-button:not(.collapsed) {
	box-shadow: none;
}

#side-bar .accordion-body {
	padding: 0;
}

#side-bar .accordion-body a {
	display: block;
	padding: 0.5rem 2rem;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

#side-bar .list-group-flush > .list-group-item:last-child {
	border-bottom-width: 1px;
}

#side-bar .list-group-item {
	padding: 0;
	cursor: pointer;
}
