html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	height: inherit;
}

header .btn-secondary:focus {
	box-shadow: none;
}

#main {
	width: 80%;
	height: 100%;
}

.h-custom {
	height: calc(100% - 50px);
}

#content div:focus,
#content div:focus-within {
	outline: none;
}
